<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="continer">
    {% for row in range(rows) %}
    {% for col in range(cols) %}
    {% if (row + col) % 2 == 0 %}
    <div class="square white"></div>
    {% else %}
    <div class="square green"></div>
    {% endif %}
    {% endfor %}
    {% endfor %}

</div>
</body>
</html>