<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" >

</head>
<body>
    <div class="continer">
        <div class="gold">Your Gold: <span class="box">{{request.session.gold}}</span></div>
        
        <div class="flex">
            
            <div class="box-felx">
                <div>Farm</div>
                <div>(earns 10-20 gold)</div>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                <button type="submit" name="bullding" value="farm">Find gold</button>
            </form>
            </div>
            <div class="box-felx">
                <div>Cave</div>
                <div>(earns 10-20 gold)</div>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                <button type="submit" name="bullding" value="cave">Find gold</button>
            </form>
            </div>
            <div class="box-felx">
                <div>House</div>
                <div>(earns 10-20 gold)</div>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                <button type="submit" name="bullding" value="house">Find gold</button>
            </form>
            </div>
            <div class="box-felx">
                <div>Quest</div>
                <div>(earns/takes 0-50 gold)</div>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                <button type="submit" name="bullding" value="quest">Find gold</button>
            </form>
            </div>
        </div>
    <div class="activt">Activities:</div>
    <ul>
        {% for activity in request.session.activities %}
        {{ activity|safe }}
        {% endfor %}
        </ul>
    </div>
</body>
</html>