<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
</head>

<body>
    <h1>Welcome to the Login & Registration Page</h1>
    <form action="/login" method="POST">
        {% csrf_token %}
        <h2>Login</h2>
        <label for="email">Email:</label>
        <input type="email" name="email"><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password"><br><br>
        <button type="submit">Login</button>
    </form>

    <form action="/register" method="POST">
        {% csrf_token %}
        <!-- A CSRF token (Cross-Site Request Forgery token) is a security measure used to protect 
         web applications from CSRF attacks. These attacks occur when a
          malicious website tricks a user's browser into making an unwanted 
          request to another site where the user is authenticated. -->
        <h2>Register</h2>
        <label for="first_name">First name:</label>
        <input type="text" name="first_name"><br><br>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name"><br><br>
        <label for="email">Email:</label>
        <input type="email" name="email"><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password"><br><br>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password"><br><br>
        <button type="submit">Register</button>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>