<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter</title>
  </head>
  <body>
    <h1 style="text-align: center; margin-top: 50px">Counter</h1>
    <p style="text-align: center; margin-top: 20px">{{count}} times</p>
    <button><a href="/destroy_session">Reset Counter</a></button>
    <form action="/add_two" method="POST">
      <button type="submit">+2</button>
    </form>
  </body>
</html>
